<%= form_for @conn, "/", [method: "get"], fn f -> %>

    <div class="form-group row">
      <div class="col-md-9">
        <div class="input-group">
          <%= date_select f, :date %>
        </div>
      </div>
    </div>

<% end %>
